*{
    margin:0;
    padding:0;
}

body{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#counter-container {
    width: fit-content;
    height: fit-content;
    background-color: yellow;
    overflow: hidden;
}

#counter {
    font-family: "Fraps";
    font-size: 144pt;
    margin-bottom: -.20em;
}

footer{
    position: absolute;
    bottom: 1em;
    right: 1em;
    font-size: 32pt;
}

footer a:link,
footer a:visited,
footer a:hover,
footer a:active{
    text-decoration: none;
    color: yellow;
}
footer a:hover{
    color:yellowgreen;
}

footer a{
    position: relative;
}

a::before{
    content: '';
    position: absolute;
    
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%)
        scale(1.1);
    filter: drop-shadow(0, 0, #000);
}